.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 6rem 0 0 0;
  text-align: center;
}

.main-grid-margin {
  display: block;
  margin: 7rem 0 0 0;
  text-align: center;
}

.main-grid-reverse {
  display: block;
  margin: 4rem 0 0 0;
  text-align: center;
}

.mainImg {
  max-width: 100%;
  margin: 0;
}

.main-desc {
  padding: 4rem 1rem;
  text-align: justify;
}

a {
  text-decoration: none;
  font-weight: 900;
}

@media (min-width: 1050px) {
  .main-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 14rem 0;
  }

  .main-grid-margin {
    display: flex;
    margin: 10rem 0 0 0;
    text-align: center;
  }

  .main-grid-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin: 5rem 0 0 0;
  }

  // .mainImg {
  //   // max-width: 55%;
  //   // margin: 4rem 2rem;
  // }

  .main-desc {
    padding: 17rem 3rem;
    text-align: justify;
    /* max-width: 25rem;*/
  }
}